.content{
    background-color: #773E83;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card-title{
    font-family: 'Work Sans', sans-serif;
}

.kuning{
    background-color: #FFB524;
    border: 1px solid #FFB524;
}
.purpple{
    background-color: #773E83;
    border: 1px solid #773E83; 
}

.green{
    background-color: #0D572B;
    border: 1px solid #0D572B;
}
.warna-klik{
    color:#773E83;
}
.icon i {
    font-size: 36px;
    color:#3560F8;
}
.icon .google{
    margin-top: -20px;
}